body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Header*/
header{
    display: flex;
    justify-content: space-around;
    align-items:baseline;
}
header h1{
 color: whitesmoke;
 background-color: rgb(64, 69, 73);
 font-weight: lighter;
}
header h1 time{
    background-color: white;
    color: rgb(64, 69, 73);
   }

/*Main*/
.gallery-odessa{
    max-height: 98vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.gallery-odessa img{
    max-width: 96%;
    max-height: 92vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    padding-top: 4px;
    scroll-snap-align: start;
}
/*Footer*/
.reference{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}
.logo-RS{
    max-width: 2em;
}
.reference sup{
    color: rgb(54, 39, 39);
}
.author-links{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: 4em;
    list-style: none;
}

