
.image{
/*Minimal css for mobile
 display the image in center of screen with a 
 never higher than the height of the screen
 never larger than the width of the container
 vertical separation with margin bottom 
*/
    max-width: 96%;
    max-height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}
/*TODO*/ 